body {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; 
}

header {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #e9ecef;
}

.banner {
    width: 100%;
    display: block;
}

nav {
    font-family: 'Libre Franklin', sans-serif;
    position: absolute;
    top: 19px;
    right: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
    font-weight: 100px;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0); 
    padding: 10px 0px;
    transition: color 0.3s ease;
    font-weight: bold;
}

nav a:hover {
    color: #000000;  
}

nav a::after {
    content: "▼";
    margin-left: 5px;
    display: inline-block;
    transform: scale(0.6);
}

nav ul li a {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 18px; 
    padding: 10px 20px;
}

article {
    padding: 20px;
    background-color: #ffffff; 
    margin: 20px;
    border-radius: 5px;
}
